FirstHomework/FirstHomework/FirstHomework.vcxproj.user
FirstHomework/FirstHomework/FirstHomework.vcxproj.filters
FirstHomework/FirstHomework/FirstHomework.vcxproj
FirstHomework/FirstHomework/Debug/*
FirstHomework/FirstHomework.sln
FirstHomework/Debug/*
FirstHomework/.vs/*
FirstHomework/x64/*
FirstHomework/FirstHomework/x64/*
FirstHomework/.idea/*
