
FirstHomework/FirstHomework/FirstHomework.vcxproj.user
FirstHomework/FirstHomework/FirstHomework.vcxproj.filters
FirstHomework/FirstHomework/FirstHomework.vcxproj
FirstHomework/FirstHomework/Debug/vc142.pdb
FirstHomework/FirstHomework/Debug/vc142.idb
FirstHomework/FirstHomework/Debug/MySuper3DApp.obj
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/link.write.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/link.read.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/link.command.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/fxc.command.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/FirstHomework.lastbuildstate
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/CL.read.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/CL.write.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.tlog/CL.command.1.tlog
FirstHomework/FirstHomework/Debug/FirstHomework.log
FirstHomework/FirstHomework/Debug/FirstHomework.ilk
FirstHomework/FirstHomework/Debug/FirstHomework.exe.recipe
FirstHomework/FirstHomework.sln
FirstHomework/Debug/MyVeryFirstShader.cso
FirstHomework/Debug/FirstHomework.pdb
FirstHomework/Debug/FirstHomework.exe
FirstHomework/.vs/FirstHomework/v16/ipch/AutoPCH/db0f2fa03fdcf205/MYSUPER3DAPP.ipch
FirstHomework/.vs/FirstHomework/v16/ipch/AutoPCH/84c134731002919/MYSUPER3DAPP.ipch
FirstHomework/.vs/FirstHomework/v16/Browse.VC.opendb
FirstHomework/.vs/FirstHomework/v16/Browse.VC.db-wal
FirstHomework/.vs/FirstHomework/v16/Browse.VC.db-shm
FirstHomework/.vs/FirstHomework/v16/Browse.VC.db
FirstHomework/.vs/FirstHomework/v16/.suo
